<style>
  .cl {
    font-family: Lucida Calligraphy;
  }
</style>

<app-navbar></app-navbar>

<div>
  <div class="row" style="padding-bottom: 14%; background: url(assets/files/background.jpg) no-repeat center center; background-attachment: fixed; background-size: cover; width: cover; height: 120vh;">
    <p class="text-cs1 font-family ml-4 font-weight-bold" style="padding-top: 1%; padding-left: 36%; font-size: 45px; color: rgb(4, 204, 226);">{{'WELCOME TO ORS' | translate}}</p>
  </div>
</div>

<app-footer></app-footer>
