<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url('assets/files/1024.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }

  .search-inputs .col-sm-2,
  .search-inputs .col-sm-1 {
    padding: 0 5px;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{ 'Customer List' | translate }}</h1>
      </div>

      <div class="row search-inputs p-1 justify-content-center">
        <div class="col-sm-2">
          <input type="text" name="clientname" [(ngModel)]="form.searchParams.clientname" class="form-control"
            (keydown)="filterInput($event, 'errorMessageclientname', 20, 'char')"
            placeholder="{{ 'Enter clientname' | translate }}">

          <span *ngIf="errorMessageclientname" class="alertRedColor">{{ errorMessageclientname }}</span>
        </div>

        <div class="col-sm-2">
          <input type="text" name="location" [(ngModel)]="form.searchParams.location" class="form-control"
            (keydown)="filterInput($event, 'errorMessagelocation', 20, 'char')"
            placeholder="{{ 'Enter location' | translate }}">

          <span *ngIf="errorMessagelocation" class="alertRedColor">{{ errorMessagelocation }}</span>
        </div>

        <div class="col-sm-2">
          <input type="text" name="contactnumber" [(ngModel)]="form.searchParams.contactnumber" class="form-control"
            (keydown)="filterInput($event, 'errorMessagecontactnumber', 10, 'int')"
            placeholder="{{ 'Enter contactnumber' | translate }}">
          <span *ngIf="errorMessagecontactnumber" class="alertRedColor">{{ errorMessagecontactnumber }}</span>
        </div>
        
        <div class="col-sm-2">
          <select class="form-control" name="importance" [(ngModel)]="form.searchParams.importance" aria-label="ngSelected">
            <option [ngValue]="undefined">{{ 'Select importance' | translate }}</option>
            <option *ngFor="let importance of form.preload.Customerlist" [value]="importance">{{ importance }}</option>
          </select>
          <span *ngIf="form.inputerror.importance" class="alertRedColor">{{ form.inputerror.importance }}</span>
        </div>

      

      

        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">{{ 'Search' | translate }}</button>
        </div>

        <div class="col-sm-2">
          <button (click)="forward('/customer')" type="button" class="btn btn-success">
            {{ 'Add Customer' | translate }}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">{{ 'Delete' | translate }}</button>
        </div>
      </div>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover font-weight-bold text-dark">
          <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{ 'S.No' | translate }}</th>
              <th>{{ 'CLIENTNAME' | translate }}</th>
              <th>{{ 'CONTACTNUMBER' | translate }}</th>
              <th>{{ 'LOCATION' | translate }}</th>
              <th>{{ 'IMPORTANCE' | translate }}</th>
              <th>{{ 'Edit' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" />
              </td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.clientname }}</td>
              <td>{{ m.contactnumber }}</td>
              <td>{{ m.location}}</td>
              <td>{{ m.importance }}</td>
              

              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/customer/' + m.id)">
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' | translate
            }}
          </button>
          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/Customerlist']" (click)="exit()">
              {{ 'Back' | translate }}
            </a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{ 'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>